@import url('https://fonts.googleapis.com/css?family=Roboto:400,600');

@import "_reset.scss";
@import "mixins.scss";

body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;

}


.back-img {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  margin: auto;

}

section {
  padding: 0 20px;
}

.rect-outer {
  position: relative;
  .rect-inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

  }
}

.main-ttl-1 {
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 600;
  @include vw-font-size(600, 50);
}


.main-ttl-2 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 600;
}

.main-ttl-3 {
  font-size: 27px;
  font-weight: 600;
  line-height: 1.3;
}

.main-p-1 {
  line-height: 1.3;
  letter-spacing: .5px;

  p + p {
    margin: 20px 0 0;
  }
}

@import "partials/section-intro";
@import "partials/section-features-list";
@import "partials/section-features-blocks";
